.footer .btnup {
  cursor: pointer;
  position: sticky;
  width: 80px;
  height: 50px;
  margin: 20px;
}
.footer .btnup .btnupstyle {
  position: sticky;
  top: 20px;
  width: 90px;
  height: 10px;
  background-color: #337ab7;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}