.header {
  background-color: #14107a;
  font-family: "Roboto", sans-serif;
}
.header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header .wrap .Somlogo {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.header .wrap .btn {
  background-color: #14107a;
  display: inline-block;
}
.header .wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .wrap .menu.active .list {
  -webkit-box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
          box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.header .wrap .menu.active .list .item {
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
}