.header{
  background-color: #14107a;
  font-family: "Roboto", sans-serif;
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .Somlogo{
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
    .btn{
      background-color: #14107a;
      display: inline-block;
    }
    .menu{
      display: flex;
      &.active
      .list{
        box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-5px);
      .item {
        text-align: center;
        padding: 6px 12px;
        cursor: pointer;

      }
      }
    }
  }
}